.venv/
__pycache__/
.pytest_cache/
*.py[cod]
.env

notebooklm.txt
modules.txt
BUP_CSE_FEST_2026_Participant_Guide_&_Evaluation_Rubric_GridWise_LLM.pdf
BUP_CSE_FEST_2026_Preli_Public_Sample_Cases.json
BUP_CSE_FEST_2026_Preliminary_Problem_Statement_GridWise_LLM.pdf
README.md